---
import Articles from "../components/Articles.astro";
import Blogbanner from "../components/Blogbanner.astro";
import BlogLayout from "../layouts/BlogLayout.astro";
---

<BlogLayout title="Blog">
  <Blogbanner />
  <Articles />
  <h1>hello world</h1>
</BlogLayout>
