<section
  id="about"
  class="flex pl-[6%] con justify-between mt-[4rem] w-full abtcon"
>
  <div class="text-white w-[50%] my-auto h-[80vh] relative top-4">
    <h2
      class="text-[6rem] 2xl:text-[12rem] abth2 2xl:leading-[15rem] leading-[8rem] text-mainColor"
    >
      About
    </h2>
    <svg
      width="123"
      height="8"
      viewBox="0 0 123 8"
      fill="none"
      class="mt-[-1rem] abtsvg ml-[10px]"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line y1="4" x2="123" y2="4" stroke="white" stroke-width="8"></line>
    </svg>

    <p
      class="2xl:text-[2rem] abtp 2xl:leading-[3rem] text-lg ml-4 mt-4 2xl:mt-6"
    >
      I am an adaptable and responsible Computer Science undergraduate seeking
      an mid-level position in Web Development. My previous experience as a
      software developer have provided me with a well-rounded background and
      enabled me to develop an analytical/logical approach to tasks, software
      skills, and the ability to work under pressure. In short, I am reliable,
      hard-working with strong attention to detail and eager to learn about new
      technologies. I am able to work well both on my own initiative an as part
      of a team as well as to travel abroad.
    </p>
  </div>
  <img class="h-[70vh] abtmoon my-auto" src="/assets/abtmoon.png" />
</section>

<style>
  .abtcon {
    height: calc(100vh - 7.7rem);
    /* min-width: 100vw; */
  }
</style>
