---
// register ScrollTrigger
---

<section
  id="home"
  class="bannercon con pl-[6%] flex mt-[4rem] items-center overflow-x-hidden"
>
  <div
    class="content flex items-center w-full my-auto h-[90%] justify-between overflow-hidden"
  >
    <div class="text-white w-[70%] my-auto h-[80%]">
      <h1
        class="text-[7rem] bannerh1 2xl:text-[13rem] 2xl:leading-[15rem] leading-[8rem] text-mainColor"
      >
        Hello.
      </h1>
      <h2
        class="text-[3rem] bannerh2 2xl:text-[5rem] 2xl:leading-[5rem] leading-[3.9rem]"
      >
        I'm Divinewisdom,
      </h2>
      <h3
        class="w-[60%] bannerh3 2xl:text-[2rem] 2xl:leading-[3rem] text-lg mt-2 2xl:mt-4"
      >
        I help businesses grow by actively designing and developing real world
        web apps to suit their ever growing needs.
      </h3>
      <div class="mt-8">
        <button
          class="hireme text-lg w-[9rem] 2xl:text-[2rem] 2xl:w-[16rem] 2xl:h-[5rem] h-[3.5rem] bg-mainColor"
          >Hire Me</button
        >
        <button
          class="projectbtn text-lg w-[9rem] 2xl:text-[2rem] 2xl:w-[16rem] 2xl:h-[5rem] h-[3.5rem] ml-8"
          >Projects</button
        >
      </div>
    </div>
    <img class="h-[70vh]" id="bannermoon" src="/assets/rightmoon.png" />
  </div>
</section>

<style>
  .bannercon {
    min-height: calc(100vh - 7.7rem);
    /* min-width: 100vw; */
  }

  .projectbtn:hover {
    border: 3px solid #ae0721;
  }
</style>
