<section
  class="flex blogcontactcon justify-between px-[8%] bg-mainColor h-[7rem] items-center text-white"
>
  <div class="blogemailcon">
    <h4 class="text-medium text-lg">Contact</h4>
    <p class="text-2xl">cedarcreative123@gmail.com</p>
  </div>
  <div class="w-[20%] blogsocialscon justify-between flex">
    <svg
      width="37"
      height="29"
      viewBox="0 0 37 29"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12.0733 28.9803C25.6392 28.9803 33.0594 17.8371 33.0594 8.17491C33.0594 7.8577 33.0594 7.54289 33.0379 7.22925C34.4813 6.19566 35.727 4.91234 36.7174 3.44396C35.3729 4.03559 33.9438 4.42359 32.4824 4.59466C34.0211 3.68047 35.1733 2.24424 35.7252 0.549529C34.2764 1.40134 32.6927 2.00251 31.0408 2.32507C28.2475 -0.618856 23.5757 -0.76149 20.6044 2.00779C18.69 3.79338 17.8757 6.45568 18.4707 8.99507C12.5407 8.69926 7.01505 5.92289 3.26901 1.35555C1.3115 4.69685 2.31272 8.96972 5.55366 11.1153C4.37988 11.0814 3.23126 10.7681 2.20487 10.2014V10.2942C2.20667 13.7746 4.68186 16.7713 8.12233 17.4609C7.03662 17.755 5.89699 17.7976 4.79331 17.5855C5.75858 20.5651 8.52857 22.6059 11.6832 22.6647C9.07143 24.6998 5.84486 25.8048 2.52303 25.8013C1.93704 25.7995 1.35104 25.7656 0.766846 25.6961C4.14081 27.8417 8.06481 28.9803 12.0733 28.975"
        fill="white"></path>
    </svg>

    <svg
      width="36"
      height="35"
      viewBox="0 0 36 35"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M18.1934 0.337402C8.54289 0.337402 0.717285 8.21581 0.717285 17.9347C0.717285 25.7097 5.72473 32.3059 12.6685 34.6328C13.5419 34.7957 13.8626 34.251 13.8626 33.7862C13.8626 33.3666 13.8464 31.9804 13.8389 30.51C8.97699 31.5745 7.95107 28.4337 7.95107 28.4337C7.1561 26.3997 6.01066 25.8589 6.01066 25.8589C4.42505 24.7667 6.13018 24.7891 6.13018 24.7891C7.88509 24.9133 8.80914 26.6025 8.80914 26.6025C10.3678 29.2928 12.8975 28.515 13.8947 28.0654C14.0516 26.928 14.5045 26.1517 15.0043 25.7123C11.1226 25.2673 7.04207 23.7584 7.04207 17.0156C7.04207 15.0944 7.72476 13.5246 8.84271 12.2923C8.66125 11.849 8.06307 10.0592 9.012 7.63533C9.012 7.63533 10.4795 7.16238 13.8192 9.43912C15.2132 9.04922 16.7082 8.85369 18.1934 8.84699C19.6786 8.85369 21.1748 9.04922 22.5714 9.43912C25.907 7.16238 27.3726 7.63533 27.3726 7.63533C28.3238 10.0592 27.7253 11.849 27.5439 12.2923C28.6644 13.5246 29.3425 15.0944 29.3425 17.0156C29.3425 23.7745 25.2542 25.2627 21.3626 25.6983C21.9895 26.2444 22.548 27.3153 22.548 28.9571C22.548 31.3116 22.5277 33.2066 22.5277 33.7862C22.5277 34.2545 22.8423 34.8032 23.7282 34.6304C30.6682 32.301 35.6693 25.7071 35.6693 17.9347C35.6693 8.21581 27.8449 0.337402 18.1934 0.337402ZM7.26267 25.4052C7.22418 25.4926 7.08759 25.5188 6.96315 25.4588C6.83639 25.4014 6.7652 25.2822 6.80629 25.1945C6.84391 25.1044 6.9808 25.0794 7.10727 25.1397C7.23431 25.1971 7.30666 25.3174 7.26267 25.4052ZM8.1223 26.1775C8.03896 26.2553 7.87603 26.2192 7.76548 26.0962C7.65117 25.9735 7.62975 25.8095 7.71425 25.7305C7.80021 25.6527 7.95822 25.6891 8.07282 25.8118C8.18713 25.9359 8.20941 26.0988 8.1223 26.1775ZM8.71205 27.1657C8.60497 27.2406 8.42988 27.1704 8.32165 27.0139C8.21457 26.8574 8.21457 26.6698 8.32396 26.5946C8.43249 26.5194 8.60497 26.587 8.71465 26.7423C8.82144 26.9014 8.82144 27.0891 8.71205 27.1657ZM9.70942 28.3102C9.61363 28.4166 9.40961 28.388 9.26028 28.2429C9.10748 28.101 9.06493 27.8996 9.16101 27.7932C9.25796 27.6866 9.46315 27.7166 9.61363 27.8606C9.76528 28.0022 9.81158 28.205 9.70942 28.3102ZM10.9984 28.6966C10.9562 28.8344 10.7597 28.897 10.5617 28.8385C10.3641 28.7782 10.2347 28.6167 10.2747 28.4774C10.3157 28.3387 10.5131 28.2734 10.7125 28.3361C10.9099 28.3961 11.0395 28.5564 10.9984 28.6966ZM12.4654 28.8604C12.4703 29.0056 12.3025 29.1259 12.0947 29.1285C11.8857 29.1332 11.7167 29.0158 11.7144 28.873C11.7144 28.7264 11.8785 28.6072 12.0874 28.6037C12.2952 28.5996 12.4654 28.7162 12.4654 28.8604ZM13.9065 28.8048C13.9314 28.9464 13.787 29.0919 13.5806 29.1306C13.3778 29.1679 13.19 29.0805 13.1642 28.94C13.139 28.7949 13.286 28.6495 13.4886 28.6119C13.6952 28.5758 13.8802 28.6609 13.9065 28.8048Z"
        fill="white"></path>
    </svg>

    <svg
      width="43"
      height="31"
      viewBox="0 0 43 31"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0.669434 3.47934V27.7045C0.669434 29.0225 1.61515 30.0906 2.91808 30.0906H39.9844C41.2859 30.0906 42.233 29.0101 42.233 27.7045V3.47934C42.233 2.03306 41.3861 0.909668 39.9844 0.909668H2.91808C1.46227 0.909668 0.669434 2.06067 0.669434 3.47934ZM4.08705 5.58945C4.08705 5.00569 4.43344 4.67163 4.98681 4.67163C5.32911 4.67163 18.798 13.377 19.6139 13.8876L21.7218 15.2248C22.3902 14.768 23.0613 14.3775 23.754 13.9041C25.1679 12.9822 37.7479 4.67163 38.0943 4.67163C38.649 4.67163 38.994 5.00569 38.994 5.58945C38.994 6.2077 37.8264 6.82177 37.066 7.29512C32.2886 10.265 27.5126 13.5025 22.7826 16.5827C22.5066 16.7732 21.9721 17.1804 21.5716 17.1183C21.1251 17.0479 7.41945 8.06649 4.9259 6.57052C4.55113 6.34557 4.08705 6.14008 4.08705 5.58945Z"
        fill="white"></path>
    </svg>

    <svg
      width="33"
      height="33"
      viewBox="0 0 33 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_107_211)">
        <path
          d="M0.23291 2.792C0.23291 1.526 1.28491 0.5 2.58291 0.5H29.8829C31.1809 0.5 32.2329 1.526 32.2329 2.792V30.208C32.2329 31.474 31.1809 32.5 29.8829 32.5H2.58291C1.28491 32.5 0.23291 31.474 0.23291 30.208V2.792ZM10.1189 27.288V12.838H5.31691V27.288H10.1189ZM7.71891 10.864C9.39291 10.864 10.4349 9.756 10.4349 8.368C10.4049 6.95 9.39491 5.872 7.75091 5.872C6.10691 5.872 5.03291 6.952 5.03291 8.368C5.03291 9.756 6.07491 10.864 7.68691 10.864H7.71891ZM17.5349 27.288V19.218C17.5349 18.786 17.5669 18.354 17.6949 18.046C18.0409 17.184 18.8309 16.29 20.1589 16.29C21.8969 16.29 22.5909 17.614 22.5909 19.558V27.288H27.3929V19C27.3929 14.56 25.0249 12.496 21.8649 12.496C19.3169 12.496 18.1749 13.896 17.5349 14.882V14.932H17.5029C17.5135 14.9153 17.5242 14.8986 17.5349 14.882V12.838H12.7349C12.7949 14.194 12.7349 27.288 12.7349 27.288H17.5349Z"
          fill="white"></path>
      </g>
      <defs>
        <clipPath id="clip0_107_211">
          <rect
            width="32"
            height="32"
            fill="white"
            transform="translate(0.23291 0.5)"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
</section>

<style>
  svg {
    cursor: pointer;
    height: 30px;
  }

  svg:hover {
    color: black !important;
  }
</style>
