<nav
  class="sm:hidden navblgcon md:flex flex-col text-white pr-[3%] w-[6rem] z-[1000] items-center justify-between fixed top-0 right-0"
>
  <svg
    width="26"
    height="38"
    viewBox="0 0 26 38"
    fill="none"
    class="!h-[25px] hambugermenu mt-4 mb-8"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M25.5 0.249999L25.5 37.75L21.3008 37.75L21.3008 0.249999L25.5 0.249999ZM10.9492 0.249999L15.0508 0.249999L15.0508 37.75L10.9492 37.75L10.9492 0.249999ZM0.5 0.249998L4.69922 0.249999L4.69922 37.75L0.499998 37.75L0.5 0.249998Z"
      fill="white"></path>
  </svg>

  <div class="flex flex-col justify-evenly items-center">
    <a href="/#home">
      <h4
        class="cursor-pointer homenav rotate-90 mb-[3rem] hover:text-mainColor"
      >
        HOME
      </h4>
    </a>
    <a href="/#projects">
      <h4
        class="cursor-pointer worksnav rotate-90 mb-[3rem] hover:text-mainColor"
      >
        PROJECTS
      </h4>
    </a>
    <a href="/#about">
      <h4
        class="cursor-pointer abtnav rotate-90 mb-[3rem] hover:text-mainColor"
      >
        ABOUT
      </h4>
    </a>
    <a href="/blog">
      <h4 class="cursor-pointer rotate-90 mb-[3rem] hover:text-mainColor">
        BLOGS
      </h4>
    </a>
  </div>
</nav>

<style>
  svg {
    width: 25px !important;
    cursor: pointer;
  }
</style>
