<section
  class="blgbannercon blogcon z-10 w-full text-white pr-[6rem] pl-[5%] flex h-[80vh] min-h-max"
>
  <div class="">
    <h1
      class="text-[7rem] mt-4 bannerh1 2xl:text-[13rem] 2xl:leading-[15rem] leading-[8rem] text-mainColor"
    >
      My Blog
    </h1>
    <svg
      width="123"
      height="8"
      viewBox="0 0 123 8"
      fill="none"
      class="mt-2 blogline"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line y1="4" x2="123" y2="4" stroke="white" stroke-width="8"></line>
    </svg>

    <p class="w-[70%] bannertxt mt-8 text-[17px]">
      Lorem ipsum dolor sit amet consectetur adipiscing elit mauris urna, netus
      pretium ac suspendisse porta laoreet parturient proin dignissim, viverra
      sagittis torquent primis conubia duis aliquet erat. Nisl scelerisque
      sollicitudin dis porta pellentesque cum consequat dictum congue hendrerit
      fermentum himenaeos lacus, nascetur nec gravida velit eleifend hac sed
      quis enim posuere donec vitae. Nisl imperdiet sociis parturient commodo
      nascetur felis malesuada massa in, a netus duis odio pretium ac urna non,
      arcu mi ridiculus cursus aliquam eros sollicitudin class. Primis vitae est
      nisi viverra ante aenean convallis metus turpis netus facilisi, nec
      malesuada fusce semper pulvinar volutpat taciti maecenas tortor habitasse
    </p>
  </div>
  <img class="h-full bannerimg" src="/assets/blogbanner.png" alt="" />
</section>
