---
const { article } = Astro.props;
---

<div class="w-[50%]">
  <div>
    <div
      class="cardimg !bg-no-repeat !bg-cover h-[20rem] w-full"
      style={{ background: `url(${article.img})` }}
    >
    </div>
  </div>
  <div class="cardbody mt-4 p-3">
    <h4 class="cardtitle text-xl font-medium">{article.title}</h4>
    <p class="cardbody text-sm mt-2">
      {article.summary.substring(0, 240)}
      <span class="cardexpand text-mainColor">...see more</span>
    </p>
    <button class="rounded-full w-[60%] hidden h-[2.3rem] bg-mainColor mt-4"
      >Read Now</button
    >
  </div>
</div>
